{{#partial "content"}}

    <div class="container-fluid text-start mx-auto" id="client">

        <div class="card mx-auto"  style="max-width: 660px;">
            <div class="row">
                <div class="col-md-8">
                    {{#each fullstack}}
                        <div class="card-body" id="details">
                            <h5 class="card-title">{{name}}</h5>
                            <hr>
                            <p class="card-text">
                            <p>Project Name: <span class="detail">{{name}}</span></p>
                            <p>Project Owner: <span class="detail">{{owner}}</span></p>
                            <p>Owner`s Contact: <span class="detail">{{owner_contact}}</span></p>
                            <p class="card-footer">
                            <p><a class="btn btn-outline-secondary justify-content-left" href="/fullstack/{{id}}/delete">delete {{name}}</a> </p>
                            <hr>
                            <p><a class="btn btn-outline-danger justify-content-left" href="/fullstack">Sign in as Collaborator</a> </p>
                        </div>
                    {{/each}}

                </div>
            </div>
        </div>
    </div>
{{/partial}}
{{> layout.hbs}}